<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>FrontOffice - Angulo L&oacute;pez</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="icon" type="image/png" sizes="32x32" href="~/images/corporativas/favicon.ico">
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="msapplication-tap-highlight" content="no">

<environment names="Development">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/css/animate.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/select2/select2.css" />
    <link rel="stylesheet" href="~/lib/select2/select2-bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-table/dist/bootstrap-table.css" />
    @*<link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/datepicker3.css" />*@
    <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/validator.css" />
    <link rel="stylesheet" href="~/lib/PageTransitions/css/component.css" />
    <link rel="stylesheet" href="~/lib/PageTransitions/css/animations.css" />
    <link href="~/others/sweetalert2-11.4.4/sweetalert2.css" rel="stylesheet" />
    <link href="~/others/jquery-smartwizard-master/src/css/smart_wizard.css" rel="stylesheet" />
    <link href="~/others/jquery-smartwizard-master/src/css/smart_wizard_dots.css" rel="stylesheet" />
</environment>
<environment names="Staging,Production">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/animate.css" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/select2/select2.css" />
    <link rel="stylesheet" href="~/lib/select2/select2-bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap-table/dist/bootstrap-table.min.css" />
    <link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" rel="stylesheet" />
    @*<link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/datepicker3.css" />*@
    <link rel="stylesheet" href="~/css/validator.css" />
    <link rel="stylesheet" href="~/lib/PageTransitions/css/component.css" />
    <link rel="stylesheet" href="~/lib/PageTransitions/css/animations.css" />
    <link href="~/others/sweetalert2-11.4.4/sweetalert2.css" rel="stylesheet" />
    <link href="~/others/jquery-smartwizard-master/src/css/smart_wizard.css" rel="stylesheet" />
    <link href="~/others/jquery-smartwizard-master/src/css/smart_wizard_dots.css" rel="stylesheet" />
</environment>