<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Solicitudes de Anulaciones</h2>
        <ol class="breadcrumb">        
            <li class="breadcrumb-item active">
                <strong>Anulaciones</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="widget style1 lazur-bg">
            En esta vista se cargan las Solicitudes de Anulaciones
        </div>
    </div>
</div>

<div id="AvailableAnnulment">
    <div id="divAvailableAnnulment">
        <div class="panel-body">
            <div class="ibox">
                <div class="ibox-content">
                   
                    <div>
                        <button type="button" onclick="RefreshTableAnnulment()" class="btn btn-primary">Refrescar</button>
                        <table id="TbAvailableAnnulment"
                               data-toggle="table"
                               data-search="true"
                               data-url=""
                               data-side-pagination="server"
                               data-response-handler="responseHandler"
                               data-advanced-search="true"
                               data-page-size="10"
                               data-id-table="advancedTable"
                               data-ajax=""
                               class="table table-striped table-bordered table-responsive-lg">
                            <thead>
                                <tr>
                                    <th data-field="CreationUser" data-sortable="true" data-halign="center" data-align="center">
                                        Usuario Solicitante
                                    </th>
                                    <th data-field="CreationDate" data-formatter="FechaHora" data-sortable="true" data-halign="center" data-align="center">
                                        Fecha de Solicitud
                                    </th>
                                    <th data-field="NOMBRE_REMITENTE" data-sortable="true" data-halign="center" data-align="center">
                                        Cliente
                                    </th>
                                    <th data-field="CIREM" data-sortable="true" data-halign="center" data-align="center">
                                        Número de Documento
                                    </th>
                                    <th data-field="OPERACION"  data-sortable="true" data-halign="center" data-align="center">
                                        Operación
                                    </th>
                                    <th data-field="CodMoneda" data-sortable="true" data-halign="center" data-align="center">
                                        Tipo Moneda
                                    </th>
                                    <th data-field="MONTO_DIVISAS" data-sortable="true"  data-halign="center" data-align="center">
                                        Monto
                                    </th>

                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<partial name="_modalDetailAnnulment" />

@section Scripts{
    <script src="~/WebTaquilla/Operaciones/ApprovalAnnulments.js" asp-append-version="true"></script>
}